name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: zmkfirmware/zmk-build-ubuntu@main
        with:
          board: nice_nano_v2
          shield: promicro_4x6
          keymap-path: config/
